body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  height: 100vh;
}

.search-section {
  position: relative;
  height: 100vh;
  width: 57%;
  color: #fff;
  padding: 10px 30px;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/images/background2.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
    border-radius: 0px 50px 50px 0px;
  }

  header {
    .logo {
      font-weight: 300;
    }

    .location-info {
      background-color: rgba($color: #979696, $alpha: 0.3);
      padding: 14px;
      border-radius: 6px;

      h5 {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 4px;
      }

      h4 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0px;
      }
    }
  }

  .search-main {
    height: 50vh;
    margin-top: 120px;

    .divider {
      width: 150px;
      height: 8px;
      border-radius: 30px;
      background-color: #fff;
    }

    .input-wrapper {
      position: relative;

      .location-input {
        width: 330px;
        padding: 8px 12px;
        border: none;
        border-radius: 6px;
        outline: none;
        background-color: rgba($color: #f6f1f1, $alpha: 0.7);
      }

      .search-icon {
        position: absolute;
        right: 12px;
        top: 10px;
        cursor: pointer;
      }
    }
  }
}

.info-section {
  height: 100vh;
  width: 43%;

  .info-title {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .weather-info-card {
    border-radius: 10px;
    box-shadow: 0px 0px 32px 2px rgba(232, 224, 224, 0.61);
    -webkit-box-shadow: 0px 0px 32px 2px rgba(232, 224, 224, 0.61);
    -moz-box-shadow: 0px 0px 32px 2px rgba(232, 224, 224, 0.61);

    .weather-info {
      .temperature {
        font-weight: 800;
        font-size: 48px;
      }

      .weather-title {
        font-weight: 300;
        font-size: 48px;
      }

      .weather-desc {
        font-weight: 400;
        font-size: 20px;
      }

      .date {
        font-weight: 400;
      }
    }

    .divider {
      width: 3px;
      max-height: 300px;
      background-color: #bbbaba;
      border-radius: 8px;
    }
    .weather-details {
      margin: auto 0;
      .detail {
        font-size: 22px;
        line-height: 1.5;
        color: #858383;
      }
    }
  }
  .error-message {
    display: inline-block;
    border-radius: 8px;
    font-style: italic;
    padding: 8px;
    color: #424242;
  }
}
